@{
    string ActiveNav(string? clicked = "")
    {
        string? currentPage = ViewContext.RouteData.Values["page"]?.ToString();
        return (clicked == currentPage) ? "active custom-underline" : "";
    }
}


@using Microsoft.AspNetCore.Identity
@using CSP.Domain.Models;

@inject SignInManager<CarmenStitchAndPressUserModel> SignInManager
@inject UserManager<CarmenStitchAndPressUserModel> UserManager

<ul class="navbar-nav ">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item text-nowrap">
            <a id="manage" class="nav-link text-light @ActiveNav("/Account/Manage/Index")" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
        <li class="nav-item d-flex flex-column flex-md-row justify-content-center justify-content-md-end align-items-center w-100 mt-3 mt-md-0">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-light border-0 ">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
@*         <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a> *@
    </li>
    <li class="nav-item  ">
        <a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
