@model ExpenseViewModel

<div class="modal fade" id="addOrderExpenseMod">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Add Order Expense</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="addOrderExpenseForm">
                <input type="hidden" id="OrderId" name="OrderId" value="@Model.OrderId" />
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-4 form-floating mb-2">
                            <input type="text" name="Description" class="form-control" id="Description" placeholder="Description"/>
                            <label class="form-label">Description</label>
                        </div>
                        <div class="col-md-4 form-floating mb-2">
                            <input id="Amount" type="number" name="Amount" class="form-control" placeholder="Amount"/>
                            <label class="form-label">Amount</label>
                        </div>
                        <div class="col-md-4 form-floating mb-2">
                            <select class="form-select" name="PaidBy" id="PaidBy">
                                <option value=""></option>
                                @foreach (var user in Model.carmenStitchAndPressUsers)
                                {
                                    <option value="@user.Email">@user.FirstName</option>
                                }
                            </select>
                            <label for="PaidBy">Paid By</label>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger text-white bg-gradient" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-circle"></i> Cancel
                    </button>
                    <button class="btn btn-success bg-gradient text-white" id="addOrderExpenseSubmitBtn">
                        <i class="bi bi-check-circle"></i> Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>